<!DOCTYPE html>
<html ng-app="Briefs">
<head>
  <title>AngularBrief</title>
  <%= stylesheet_link_tag    "application", media: "all"%>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-resource.min.js"></script>
  <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-animate.js'></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>

 <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<header><h1>Briefs</h1></header>
	<%= yield %>

</body>

</html>
